@media (min-width: 1024px) {
  .dashboard-wallet {
    border: 1px solid red;
    width: 1131px;
  }
  .dash-header {
    justify-content: space-between;
  }
  .dash-titleIntro h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
  }
  .dash-titleIntro p,
  .dash-divTwo p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  .dash-titleIntro span,
  .dashWallet-icons {
    color: #6821c3;
  }
  .dashWallet-icons {
    border: 0.5px solid #c6c6c6;
    background: #fdfbff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 22px;
  }
  .dash-textt {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .dash-graph {
    background: #fdfbff;
    border: 0.5px solid #c6c6c6;
    border-radius: 8px;
  }
  .dash-divTwo {
    justify-content: space-between;
  }
  .dash-dropDown {
    border: 0.5px solid #c6c6c6;
    background: #f9f4ff;
    border-radius: 5px;
    width: 119px;
    height: 40px;
    text-align: center;
  }
  .dashWallet-buttn {
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .dashWallet-ul {
    background: #f9f4ff;
    margin-left: -1rem !important;
  }
  .lineChart {
    color: #6821c3 !important;
  }
  .dashWallet-graph {
    margin-left: -16px;
  }
}
