*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  color: black;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  overflow-y:scroll;
  
}
.home{
  display: flex;
  min-height: calc(100vh - 70px);
  background-color :#D9D9D9;
  box-sizing: border-box;
  height: 100vh;
  
  position: static;
}
.sidebar{
  width: 25%;
  height: 100vh;

}
.mainbar{
  padding-inline: 20px;
  position: static;
  right: 75%;
 display: flex;
 justify-content: space-around;


}

.mainbar1{
  width: 58%;
  background-color: white;
  overflow: hidden;
  height: 100vh;
  margin: 10px;

}

.mainbar2{

  width: 40%;
  overflow-y: auto;
  height: 100vh;
  margin-top: 10px;
  margin-left: 1%;

}
.mainbar2-card{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;

}


/*token section*/
.tokenCard{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px;
}
.tokenCard-Ist{

  display: flex;
  width: 55%;
  justify-content: space-around;
  align-items: center;

  
}
.tokenCard-second{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  margin-top: -10px;
}
.tokenCard-second > small{
  font-size: x-small;
}
.tokenCard-second > span{
  margin-bottom: 2%;
}

/* market session */
.mainbar-market{
  margin-top: 20px;
  background-color: white;
  width: 90%;

}
table{
  width: 100%;

}
th{
  font-weight: 300;
  font-size: 13px;
}
td > small{
  font-size: 9px;
}
td > span{
  font-size: 15px;
}
.tbody{
  margin-bottom: 20px;
}