@media (min-width: 1024px) {
  .nav-header {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ffffff;
    max-height: 96px;
    height: 100%;
    padding: 32px 98px;
    position: fixed;
    width: 100%;
    z-index: 50;
  }
  .nav-header h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #6821c3;
    margin-top: -16px;
  }
  .nav-firstSection {
    border: 1px solid #8d8d8d;
    border-radius: 8px;
    min-width: 544px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
  }
  .nav-searchIcon {
    color: #8d8d8d;
    font-size: 22px;
    margin-top: 12px;
  }
  .nav-firstSection input {
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #8d8d8d;
    width: 100%;
    margin-left: 8px;
  }
  .nav-secondsec {
    border: 1px solid #8d8d8d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    min-width: 190px;
    width: 100%;
    padding: 8px;
  }
  .nav-secondsec > p {
    margin-bottom: 0;
  }
  .nav-secondsec img {
    margin-right: 8px;
    width: 32px;
    height: 32px;
  }
  .nav-arrow {
    font-size: 30px;
  }
}
