.sec-rec {
  height: 540px;
  overflow: scroll;
}
.rec-main {
  border: 0.5px solid #c6c6c6;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 22px;
  margin: 0 auto !important;
}
.exit-icon {
  text-align: end;
  cursor: pointer;
}
.qrcode {
  width: 70%;
}
.divAdd {
  justify-content: center;
}
.smallAdd-text {
  font-size: 10px;
  font-weight: 500;
}
.copy-icon {
  width: 13px;
  height: 13px;
}
@media (min-width: 768px) {
  .sec-rec {
    height: 580px;
  }
  .rec-main {
    margin: 0 auto !important;
    width: 368px;
  }
  .qrcode {
    width: 60%;
  }
  .smallAdd-text {
    font-size: 12px;
    font-weight: 600;
  }
}
@media (min-width: 1024px) {
  .sec-rec {
    height: 680px;
  }
  .exit-icon {
    font-size: 20px;
  }
  .rec-main {
    width: 500px;
    border-radius: 32px;
  }
  .qrcode {
    width: 50%;
  }
  .heading-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }
}
