@media (min-width: 1024px) {
  .sidebar {
    height: 930px !important;
    background: #f5f5f5;
  }
  .Link-sideText {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #373e43;
  }
  .logoutText {
    cursor: pointer;
  }
  .side-icons {
    width: 19.5px;
    height: 19.5px;
  }
  .activity {
    position: absolute !important;
    width: 15px;
    height: 15px;
  }
  .side-arrowIcon {
    font-size: 30px;
    cursor: pointer;
  }
  .activity_grp-content {
    margin-left: 20px;
  }
  .arrowdropup {
    margin-top: -2px;
  }
}
